@import "~vuetify/dist/vuetify.min.css";

html {
    overflow-y: auto !important;
}

body {
    height: 100%;
}

@media print {
    v-data-table {
        font-size: x-small !important;
    }

    .v-data-footer {
        display: none !important;
    }

    body {
        margin: 0 !important;
    }
}
